#resultsglobal
{
	flex-direction: column;
}

#populaires /* Changement de l'ordre et annulation des bords arrondis */
{
	order:1;
	width: 100%;
	margin:auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#populaires figure
{
	margin-bottom: 10px;
}

#hebergements /* Changement de l'ordre et annulation des bords arrondis. Fond blanc */
{
	order:2;
	background-color: #FFFFFF;
	width: 100%;
}

.textehebergement /* Suppression de la marge à gauche pour le titre de la partie hébergements */
{
	margin-left: 0px;
}

#carteshebergements figure
{
	width: 45%;
}

#activites /* Mise en place des blocs activités en colonne */
{
	display: flex;
	flex-direction: row;
}

#activites figure /* Suppression des marges gauche et droite des cartes activités */
{
	margin-left: 0px;
	margin-right: 0px;
	width: 45%;
}

#activites img /* Définition de la taille des images activités */
{
	width: 100%;
	height: 150px;
}

.blocactivitesleft 
{
	display: contents;
}

.blocactivitesright 
{
	display: contents;
}

