#resultsglobal /* Les résultats populaires et hébergement passent en colonne */
{
	flex-direction: column;
}

#populaires /* Changement de l'ordre et de la disposition de la section populaire, en colonne */
{
	order:1;
	width: 100%;
	margin:auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#populaires a /* Mise en place d'une marge en bas sur les cartes de la section populaires */
{
	margin-bottom: 10px;
	max-width: 600px;
}

#populaires figure /* Définition de la marge des figures de la section populaires */
{
	margin: auto;
}

#hebergements /* Changement de l'ordre et mise en place d'un fond blanc */
{
	order:2;
	background-color: #FFFFFF;
	width: 100%;
}

.textehebergement /* Suppression de la marge à gauche pour le titre de la partie hébergements */
{
	margin-left: 0px;
}

#carteshebergements a /* Les cartes de la section hébergement occupent presque la moitié de la largeur de l'écran */
{
	width: 45%;
}

#carteshebergements figure /* Défintion de la marge des figures de la section hébergements */
{
	margin:0px;
}

#activites /* Mise en place des blocs activités en flex horizontal */
{
	display: flex;
	flex-direction: row;
}

#activites a /* Suppression des marges gauche et droite des cartes activités
Les cartes occupent presque la moitié de la largeur de l'écran */
{
	margin-left: 0px;
	margin-right: 0px;
	width: 45%;
}

#activites figure /* Défintion de la marge des figures de la section activités */
{
	margin: auto;
}

#activites img /* Définition de la taille des images activités */
{
	width: 100%;
	height: 150px;
}

.blocactivitesleft /* Annulation du display flex attribué aux petites images activités sur desk */
{
	display: contents;
}

.blocactivitesright /* Annulation du display flex attribué aux petites images activités sur desk */
{
	display: contents;
}

