
header /* Mise en place du header en colonne */
{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
}

li[class="inscription"] /* Inscription sort du flux HTML pour se positionner en haut à droite */
{
	position: absolute;
	right: 0px;
	top: 0px;
	margin: 20px;
}

nav /* Le reste du menu occupe 100% de la largeur de la page */
{
	width: 100%;
}


#menu /* Suppression du padding sur le menu */
{
	padding: 0px;
	margin: auto;
	margin-top: 10px;
}


li[class="searchmenu"] /* mise en place d'une bordure en bas sur le menu */
{
	border-bottom: 2px #F2F2F2 solid;
	padding-bottom: 5px;
	margin: 0px;
	width: 100%;
}

li[class="searchmenu"]:hover /* au survol des liens du menu, le texte et la bordure au dessous passent en bleu */
{
	color: #0065FC;
	border-bottom: 2px #0065FC solid;
	border-top: none;
}

.searchmenu a /* Centrage des textes du menu header */
{
	display: flex;
	justify-content: center;
}

.searchmenu a:hover /* Suppression de l'effet qu'il y avait au survol sur le texte du menu */
{
	border-bottom: none;
	border-top: none;
}

form /* Le moteur de recherche occupe 100% de la largeur de la fenêtre */
{
	width: 100%;
}

input[type="search"] /* la zone de saisie occupe 100% de l'espace restant entre les 2 pictos */
{
	width: 100%;
}

#rechercher /* le bouton de recherche a les 4 bords arrondis */
{

	border-radius: 10px;
}

#rechercher span /* le bouton avec le texte Rechercher est invisible sur mobile */
{
	display: none;
}

#rechercher i /* Le picto loupe est rendu visible */
{
	display: unset;
}

#rechercher /* Définition de la largeur du bouton de recherche */
{
	width: 50px;
}

#filtres h3 /* Le titre FILTRES occupe 100% de la largeur de la fenêtre */
{
	width: 100%;
}

.searchfilter /* Suppression de la marge des boutons de filtres */
{
	margin-left: 0px;
}

#resultsglobal /* Les résultats de recherches passent en colonne */
{
	flex-direction: column;
}

#populaires /* Changement de l'ordre des résultats et annulation des bords arrondis */
{
	order:1;
	border-radius: 0px;
	width: 100%;
	margin:auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

h2[id="titrepop"] /* Suppression du padding pour le titre du bloc Populaires */
{
	padding: 0px;
}

#populaires a /* Définition de la taille des cartes Populaires */
{
	height: 200px;
	width: 95%;
	margin: auto;
	margin-bottom: 20px;
	padding-bottom: 2px;
}

#populaires figure /* Définition de la hauter des figures des cartes Populaires */
{
	height: 100%;
}

#populaires img /* Définition de la taille des images Populaires */
{
	height: 95%;
	width: 180px;
}

#populaires figcaption /* La légende de chaque carte doit occuper 100% de la hauteur */
{
	height: 100%;
}

#hebergements /* Changement de l'ordre et annulation des bords arrondis. Fond blanc */
{
	order:2;
	background-color: #FFFFFF;
	border-radius: 0px;
	width: 100%;
}

#carteshebergements /* Les cartes de la partie hébergements s'affichent en colonne */
{
	display: flex;
	flex-direction: column;
}

.textehebergement /* Suppression de la marge à gauche pour le titre de la partie hébergements */
{
	margin-left: 0px;
}

#carteshebergements  img /* Définition de la taille des images pour la partie hébergements */
{
	width: 100%;
	height: 150px;
}


#carteshebergements a /* Définition de la dimension des cartes hébergments */
{
	width: 95%;
	height: 230px;
}

#carteshebergements figcaption h3 /* Définition marge intérieure du titre des cartes hébergements */
{
	padding: 2px;
}

#carteshebergements figcaption p /* Définition marge intérieure des p des cartes hébergements */
{
	padding: 2px;
}

#activity h2 /* Suppression de la parge gauche du titre activité */
{
	margin-left: 0px;
}

#activites /* Mise en place des blocs activités en colonne */
{
	display: flex;
	flex-direction: column;
}

#activites a /* Suppression des marges gauche et droite des cartes activités */
{
	margin-left: 0px;
	margin-right: 0px;
}

#activites img /* Définition de la taille des images activités */
{
	width: 100%;
	height: 150px;
}

#activites figure figcaption /* Agrandissement de la marge intérieure de la légende des photos */
{
	padding: 20px;
}

.blocactivitesleft 
{
	width: 100%;
}

.blocactivitesright 
{
	width: 100%;
}

footer /* Mise en page du footer en colonne */
{
	display: flex;
	flex-direction: column;
}